font-family: 'Ubuntu', sans-serif

body  {

}

.fa {
   padding: 10px;
   font-size: 30px;
   width: 20px;
   text-align: center;
   text-decoration: none;
   border-radius: 50%;
   top: 20px;
   box-shadow: 2px 2px 2px black;
}

/* Add a hover effect if you want */
.fa:hover {
   opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
   background: #3B5998;
   color: white;
}

/* Twitter */
.fa-twitter {
   background: #55ACEE;
   color: white;
}

.fa-tumblr {
  background-color: #2C4762;
  color: white;
}

.fa-youtube {
  background-color: #FF0000;
  color: white;
}

.fa-yahoo {
  background-color: #460b84;
  color: white;
}

.fa-instagram {
  background-color: #ff00b6;
  color: white;
}

#Snapcode {
  max-width: 200px;
  max-height: 200px;
  bottom: 20px;
  right: 50%;
  padding: 20px;
}

aside {
  background-color: #1bd10e;
  background-image: url(images/aside.jpeg);
  border-width: 2px;
  /*border-style: solid; not for use right now*/
  border-color: green;
  border-radius: 15px;
  padding: 20px;
  max-width: 25%;
  text-align: center;
}

#hs {
  font-family: "Ubuntu";
  color: white;
  background-color: black;
  padding: 8px 5px 8px 5px;
  margin: 0px 0px 0px 0px;
  font-size: 25px;
  width: 100px;
  text-align: center;
}

#conteneur {
  background-color: red;
  display: flex;
  border-width: 0px;
  max-height: 45px;
  max-width: 145px;
  border-radius: 50%
}

#hsinghc {
  width: 45px;
  height: 45px;
}

.lienNav  {
  font-family: "Ubuntu";
  background-color: purple;
  margin-top: 15px;
  max-width: 15px;
  padding: 10px;
}

a:visited, a:link {
  color: white;
  text-decoration: none;
}

a:active  {
  color: black;
}

footer {
  background-color: purple;
  text-align: center;
  color: pink;
}

#div1 {
  max-width: 80%;
  margin: auto;
  margin-top: 50px;
}

#p1 {
  color: pink;
}

nav{
  max-width: 400px;
  margin:auto;
}

h1{
  color: red;
}
